Pillow
datasets
jupyter-book
jupyter-server
jupytext
lightning
matplotlib
notebook
numpy
opencv-python
openml
pandas
papermill
pyyaml
requests
scikit-learn
scipy
seaborn
segment-anything
timm
torchvision
tqdm
transformers[torch]
ultralytics
