transformers[torch]
datasets
notebook
lightning
matplotlib
openml
jupyter-book
jupyter-server
ultralytics
scikit-learn
papermill
seaborn
timm
torchvision
Pillow
requests
pandas
numpy
opencv-python
tqdm
scipy
pyyaml
segment-anything
